#title {
    background-color: #ff4c68;
}
.container-fluid {
    padding: 3% 15%;
}

.rotate_image {
    transform: rotate(25deg);
    width: 40%;
}

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;

}
i{
    color:green;
}
i:hover {
 color:#ff4c68;
}
#features {
    padding: 7% 14%;
}
.features-box {
    text-align: center;
    padding: 5%;
}