#title {
    background-color: #ff4c68;
}
.container-fluid {
    padding: 3% 15%;
}

.rotate_image {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
}

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px;

}